.App {
  text-align: center;
  background-image: url("https://images.pexels.com/photos/408503/pexels-photo-408503.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-color: aqua;
}

.container{
  margin-top: 2%;
}

body {
  background-image: url("https://images.unsplash.com/photo-1445914897371-974b137e4402?ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80");
}

/* #content1{

  margin-left: 33%;
} */

#content{
  margin-left: 10%
}

.card{
  background-color: antiquewhite;
  color: brown;
  /* width: 24em; */
}

.card-img-top{
width: 398px;
height: 263px;
}